* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
}

.hero-banner {
  background-image: url("./assets/Subtract.png");
  height: fit-content;
  background-repeat: no-repeat;
  background-size: fill;
  width: 100%;
}
